version: 2.1

workflow:
  test-deploy:
    - build

jobs:
  build:
    docker:
      - image: cimg/base:2021.10
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - run: |
          docker build -f Dockerfile -t yahav876/test-yahav:1.0.0 .
          docker run --name test-test -d -p 8080:8080 yahav876/test-yahav:1.0.0
          docker exec test-test pytest
