version: 2.1

workflow:
  test-deploy:
    - build

jobs:
  build:
    docker:
      - image: cimg/python:3.10.0
    steps:
      - checkout
      - run: |
          docker build -f Dockerfile -t yahav876/tikal-yahav:1.0.0 .
      